@charset "utf-8";

@font-face {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: LeferiPoint-BlackObliqueA;
    margin: 0;
    /* background-color:black; */
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: LeferiPoint-BlackObliqueA;
}

.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
}

.header {
    color: #91c6ff;
    font-size: 30px;
    /* background-color: black; */
    font-family: LeferiPoint-BlackObliqueA;
}

.menu {
    border: 0;
    line-height: 2.5;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 700%;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: #91c6ff;
    align-items: center;
    font-family: LeferiPoint-BlackObliqueA;
}

.menu:hover {
    background-color: lightslategrey;
    font-family: LeferiPoint-BlackObliqueA;
}

